<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airshop.sso.mapper.UserContactMapper" >

  <cache type="org.mybatis.caches.memcached.LoggingMemcachedCache" />
 
  <resultMap id="BaseResultMap" type="com.airshop.sso.entity.UserContact" >
    <id column="contact_id" property="contactId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    contact_id, user_id, country, city, address, postal_code, phone, mobile
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from usercontact
    where contact_id = #{contactId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from usercontact
    where contact_id = #{contactId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.airshop.sso.entity.UserContact" >
    insert into usercontact (contact_id, user_id, country, 
      city, address, postal_code, 
      phone, mobile)
    values (#{contactId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airshop.sso.entity.UserContact" >
    insert into usercontact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        contact_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="postalCode != null" >
        postal_code,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        #{contactId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null" >
        #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.airshop.sso.entity.UserContact" >
    update usercontact
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null" >
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where contact_id = #{contactId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airshop.sso.entity.UserContact" >
    update usercontact
    set user_id = #{userId,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR}
    where contact_id = #{contactId,jdbcType=BIGINT}
  </update>
</mapper>